
body,html{
    padding: 0;
    margin: 0;
}
/* NAVIGATION BAR: */

.navigation h1{
    display: inline-block;  
    margin-left: 15px; 
}

.navigation ul,.navigation li{
    display: inline;
}
.navigation ul{
    padding-left: 85%;
}
.navigation li{
    padding-right: 5px;
}
.navigation {
    background-color: rgb(87, 173, 241) ;  
    position: sticky;
    z-index: 1000;
    top: 0;
 }


 /* ABOUT PAGE: */
 
 
 .about h1{
    margin-bottom: 0;
    padding-left: 10px;
 }

 .about p{
    font-size: larger;
    /* background-color: aqua; */
    display: inline-block;
    width: 70%;
    margin: 5px;
    padding-left: 15px; 
    font: bold;
    position: relative;
    animation: slide-in 3s ease-out forwards;
}

 /* why page */
.why h1{
    padding-left: 10px;
}
 .why-container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 130px;
 }

 .why-container div{
    padding: 10px;
    width: 24%;
    text-align: center;
    position: relative;
    animation: slide-in 3s ease-out forwards;
    
    

 }
 .why-container img{
    height: 140px;
    width: 140px;
    
 }

 .why-container p{
    font-size: large;
    
 }



@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* vision tests */
.vision-tests h1{
    padding-left: 20px;
}



/* test-1 */

.test1 h1{
    padding-left: 30px;
}
.test1 h2{
    padding-left: 53px;
    margin-bottom: 0;
}
.test1 ul ,.test1 li{
    display: block;
    padding-left: 35px;
    margin-top: 0;
}

.test1 li{
    font-size: large;
    font: bold;
}

.test1 button{
    color: black;
    background-color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 20px;
    
    
}
.test1 button:hover{
    background-color: rgb(87, 173, 241);
    color: black;
}
.test1 form{
    display: inline;
}
.tuto{
    margin-left: 230px;
}

/* TEST 2 */

.test2 h1{
    padding-left: 30px;
}

.test2 h2{
    padding-left: 53px;
    margin-bottom: 0;
}
.test2 h3{
    padding-left: 53px;
    color: rgb(255, 37, 81);
}

.test2 ul ,.test2 li{
    display: block;
    padding-left: 35px;
    margin-top: 0;
}
.test2 li{
    font-size: large;
    font: bold;
}

.test2 button{
    color: black;
    background-color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 20px;
    
}
.test2 button:hover{
    background-color: rgb(80, 164, 255);
    color: black;
}
.test2 form{
    display: inline;
}
.tuto{
    margin-left: 230px;
}

/* Diagnosis */

.diagnosis h1{
    padding-left: 30px;
}

.diagnosis button{
    color: black;
    background-color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    
}
.diagnosis button:hover{
    background-color: blanchedalmond;
    color: black;
}
.diagnosis form{
    display: inline;
}

.tuto{
    margin-left: 230px;
}
.diagnosis label{
    font-size: 20px;
    margin-left: 20px;
}

/* Details in test2 */


.details form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    size: 500px;
    margin-left: 50px;
    
    

    
    font-size: 20px;
}
.details input{
    width: 210px;
}

.details label{
    margin-top: 10px;
    font: bold;
    width: 100px;
}   

.details div{
    margin-top: 10px;

}

.details div input{
    border-radius: 7px;
    
}           

/* eye test: */
.eyetest form {
    display: inline-block;
    
   
}
    